
.mark .desc {
  color: #007acc;
  font-weight: 600;
  text-decoration: underline;
  font-size: 15px;
  margin: 5px 0;
}

body >ul {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
body >ul >li {
  list-style: none;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
body >ul >li >img {
  width: 25%;
}
.btn{
  margin-bottom: 5px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  -ms-user-select: none;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  color: #409eff;
  background: #ecf5ff;
  border-color: #b3d8ff;
}